*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navguy{
  gap: 20px;
}

header{
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-left: 40px;
}
header a{
  text-decoration: none;
  color: rgb(26, 25, 25);
  gap: 25px;
  margin: 27px;
  margin-right: 60px;
}

header h1{
  font-size: 20px;
  margin-left: 50px;
}

.section1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  padding: 25px;
}

.card1 {
  margin: 10px;
  padding: 9%;
  background-color: #5d5c5c;
  color: #ddd;
  align-items: center;
  justify-content: space-around;
  /* width: 80vw;
  height: 50vh; */
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 10px;
  /* align-items: center; */
  text-align: center;
}

